<div class="apartment-wrapper">
    <div class="flex-row flex-center flex-between">
        <h1>Produtos</h1>
        <button class="btn btn-sa-reverse btn-new" (click)="goNew()"> <i class="fas fa-plus"></i> Novo </button>
    </div>
    <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome do Produto </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="category">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Categoria </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="unit">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Unidades de medida </th>
            <td class="text-center" mat-cell *matCellDef="let element"> {{element.kilogram ? 'Kg ' : 'Und '}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Preço </th>
            <td mat-cell *matCellDef="let element">
                {{element.price | currency: 'R$ '}}
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <div class="text-center">
                    <button class="btn-clean btn-clear-list" (click)="goEdit(element.uid)">
                <i class="far fa-edit icon-success"></i>
            </button>
                    <button class="btn-clean btn-clear-list" (click)="removeRecord(element.uid)">
                  <i class="far fas fa-trash-alt icon-danger"></i>
            </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>