/* You can add global styles to this file, and also import other style files */

@import "src/app/variables";
@import "@uicapivara/cp-image-crop/dist/cp-image-crop.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-info.css";
@import "~angular-notifier/styles/types/type-warning.css";
@import "~angular-notifier/styles/types/type-error.css";
body,
html {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    height: 100%;
}

table {
    width: 100%;
}

.mat-header-cell {
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
}

.just-center {
    justify-content: center;
}

.flex-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    justify-content: space-between;
}

.text-center {
    text-align: center !important;
}

a,
button,
input,
textarea {
    &:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &:focus {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

a,
button {
    cursor: pointer;
}

a[disabled] {
    cursor: not-allowed;
}

button.btn[disabled] {
    opacity: 0.5;
    background-color: $disable !important;
    cursor: not-allowed;
}

h1 {
    color: $blackColor;
}

.btn {
    height: 54px;
    padding: 0px 20px;
    border-radius: 30px;
    font-size: 18px;
}

.btn-sa {
    background-color: $primaryColor;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
}

.btn-sa-reverse {
    background-color: #fff;
    border: 2px solid $primaryColor;
    color: $primaryColor;
    font-weight: 700;
}

.btn-save {
    font-size: 20px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: opacity 200ms ease;
    span {
        transition: transform 200ms ease;
        transform: translateY(50%);
    }
    span.loader {
        transform: translateY(-100%);
    }
    svg {
        transition: transform 200ms ease;
        fill: #fff;
        transform: translateY(100%);
    }
    svg.loader {
        transform: translateY(-50%);
    }
    i {
        padding-right: 5px;
    }
}

.btn-save.loader {
    opacity: 0.5;
}

.btn-full {
    width: 100%;
    font-weight: bold;
    padding: 15px 10px;
    margin-top: 15px;
    font-size: 17px;
}

.btn-clean {
    background-color: transparent;
    border: 0px;
}

.bg-btn-primary {
    border-radius: 50px;
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: #fff;
    &:hover {
        background-color: #fff;
        border: 2px solid $primaryColor;
        color: $primaryColor;
    }
}

.bg-btn-secondary {
    font-weight: bold;
    border-radius: 50px;
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: #fff;
    &:hover {
        background-color: #fff;
        border: 2px solid $primaryColor;
        color: $primaryColor;
    }
}

.btn-clear-list {
    i {
        transition: transform 200ms ease;
        font-size: 22px;
        margin: 0px 10px;
        &:hover {
            transition: transform 200ms ease;
            transform: scale(1.2);
        }
    }
    i.icon-success {
        color: $success;
    }
    i.icon-danger {
        color: $error;
    }
}

.not-m-bt {
    margin-bottom: 0px;
}

.m-t {
    margin-top: 15px;
}

.small-p {
    font-size: 14px;
}

.link {
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid $primaryColor;
    }
}

.sa-input {
    height: 44px;
    padding: 0px 15px;
    border: 2px solid $neutralColor;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 25px;
    &:focus {
        border: 2px solid $primaryColor;
    }
}

.sa-back-state {
    display: flex;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            margin-left: 20px;
            width: 24px;
            margin-right: 5px;
            fill: $neutralColor;
        }
        span {
            font-size: 19px;
            color: $neutralColor;
            padding-right: 15px;
        }
        &:hover {
            svg {
                fill: $primaryColor;
            }
            span {
                color: $primaryColor;
            }
        }
    }
}

.input-group-flex {
    display: flex;
    input {
        margin-right: 15px;
    }
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


/* --- GROUP-SWITCH --- */

.group-switch {
    padding-left: 15px;
}


/* --- LABEL --- */

.label-rs {
    display: flex;
    width: 100%;
    color: #757575;
    font-size: 15px;
    margin-bottom: 5px;
}


/* --- margin-input --- */

.margin-input {
    margin-bottom: 25px;
}

.box-modal {
    position: relative;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    span {
        top: -16px;
        position: absolute;
        border: 1px solid #ccc;
        padding: 5px 15px;
        border-radius: 50px;
        background-color: #fff;
        font-weight: bold;
        display: flex;
    }
    h5 {
        font-weight: 100;
        margin-top: 5px;
        margin-bottom: 0px;
        text-align: left;
    }
}

.mh-container {
    width: auto !important;
    padding: 0;
}