@import "src/app/variables";
.page-wrapper {
    display: flex;
    flex-direction: column;
    transition: all 500ms ease;
    .top-wrapper {
        height: 64px;
        background-color: $blackColor;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        width: 100%;
        .exit {
            cursor: pointer;
            color: #fff;
            padding: 10px 20px;
            transition: font-size 100ms ease;
            &:hover {
                transition: font-size 100ms ease;
                font-size: 22px;
                color: $primaryColor;
            }
        }
    }
    .body-wrapper {
        display: flex;
        nav {
            width: 270px;
            background-color: $blackColor;
            margin-top: 64px;
            height: calc(100vh - 69px);
            border-top: 5px solid $primaryColor;
            position: fixed;
            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                list-style-type: none;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        font-size: 18px;
                        color: #fff;
                        i {
                            text-align: center;
                            padding-left: 0px;
                            padding-right: 10px;
                            width: 26px;
                        }
                        span {
                            transition: padding 100ms ease;
                        }
                        &:hover {
                            i {
                                color: $primaryColor;
                            }
                            span {
                                transition: padding 100ms ease;
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }
        }
        .content {
            width: 100%;
            margin-top: 64px;
            margin-left: 270px;
            padding: 15px;
        }
    }
}

.page-wrapper.loaderBody {
    filter: blur(4px);
}

.loaderAll {
    transition: all 500ms ease;
    position: fixed;
    z-index: 1001;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    svg {
        width: 84px;
        height: 84px;
    }
    img {
        max-width: 200px;
    }
}

.loaderAll.active {
    opacity: 1;
}